* {
    background-color: #7BAFD4 !important;
    color: #fff !important; 
    

}

h1 {
    color: #13294b !important;
}

.text-color-primary {
    color: #13294b !important;
}

a.button-primary {
    background-color: #8d9092 !important;
    border: 5px double !important;
    border-color: #13294b !important;
    text-align: center !important;
}

a svg path {
    fill: #fff;
}

a.button-dark {
    background-color: #8d9092 !important;
    border: 5px double !important;
    border-color: #13294b !important;
}

img.has-shadow {
    border:
}

div.testimonial-item-content {
    color: #13294b !important; 
}

p.text-sm {
    background-color: #8d9092 !important;
    border: 15px double !important;
    border-color: #13294b !important;
    border-width: 10px !important;
    border-radius: 10px !important;
    text-align: center !important;
}

h2.mt-0.mb-16 {
    color: #13294b !important;
}

img.has-shadow {
    shadow: 40px !important;
    outline: groove #fff !important;
    outline-width: 10px !important;
}

h3.mt-0.mb-12 {
    color: #13294b !important;
    text-align: center !important;
}

p.m-0 {
    text-align: center !important;
}

.garbage {
    display: none !important;
}

.tiles-item-reveal-from-right-is-revealed{
    height: 900px !important;
}

.easter-egg-one {
    
    color: #ff0 !important;
    text-align: center !important;
    font-size: 33.5px !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: auto !important;
    background-color: #000 !important;
    width: 100vw ;
    height: 50vw ;
}

.egg-yolk-one {
    background-color: #000 !important;
    color: #ff0 !important;
    
}

.egg-yolk-two {
    background-color: #000 !important;
    color: #fff1 !important;

}

.photo-space {
    height: 400px !important;
    width: auto !important;

    background-repeat: repeat-x;
    background-image: url('/portfolio/images/platoscave.jpg');
    background-size: contain ;


}

.filler-one {
    background-color: #000 !important;
    color:#000 !important;

}

.easter-egg-three {
    background-color: #000 !important;
    color: #ff0 !important;
    text-align: left !important;
}

.description {
    background-color: #000 !important;
    color: #ff0 !important;
    text-align: justify left !important;
}

.egg-yolk-three {
    background-color: #000 !important;
    color: #ff0 !important;
}

.darkness {
    background-color: #000 !important;
    color: #000 !important;
}

.Spacer {
    background-color: #000 !important;
    color:#000 !important;
}

.nav {
    font-size: 8px !important;
    background-color: #000 !important;
    color: #0fd !important;
}
